<?xml version="1.0"?>

<!-- Copyright © Klevu Oy. All rights reserved. See LICENSE.txt for license details. -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">

    <router id="standard">
        <route id="catalogsearch" frontName="catalogsearch">
            <module name="Klevu_FrontendSearch" before="Magento_CatalogSearch"/>
        </route>
    </router>
</config>
